<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SageX3SoapWsTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <SageX3SoapWsTester.Properties.Settings>
      <setting name="SageX3SoapWsTester_CAdxWebServiceXmlCC_CAdxWebServiceXmlCCService" serializeAs="String">
        <value>http://cai715099:8124/soap-generic/syracuse/collaboration/syracuse/CAdxWebServiceXmlCC</value>
      </setting>
      <setting name="SageX3WebServiceClient_CAdxWebServiceXmlCC_CAdxWebServiceXmlCCService" serializeAs="String">
        <value>http://cai715099:8124/soap-generic/syracuse/collaboration/syracuse/CAdxWebServiceXmlCC</value>
      </setting>
    </SageX3SoapWsTester.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="PoolAlias" value="POOLSEED" />
    <add key="x3Website" value="http://www.SageX3WebSite.com" />
    <add key="RetreivalUrl" value="http://SageX3WebSite/auth/oauth2/sageid/sageIdTokenRetrieval/token"/>
    <add key="UserId" value="admin"/>
    <add key="Password" value="admin"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>